<%= form_for(message, html: { class: 'inbox-compose form-horizontal' }) do |f| %>
  <% if !defined? thread %>
    <div class="inbox-form-group mail-to">
      <label class="control-label">To:</label>
      <div class="controls controls-to">
        <%= f.text_field :recipient_email, class: 'form-control', html: { name: 'to' } %>
      </div>
    </div>
    <div class="inbox-form-group">
      <label class="control-label">Subject:</label>
      <div class="controls">
        <%= f.text_field :subject, class: 'form-control', html: { name: 'subject' } %>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :thread_id, value: thread.id  %>
    <%= f.hidden_field :recipient_email, value: find_correct_recipient(thread)  %>
    <%= f.hidden_field :subject, value: thread.subject  %>
  <% end %>
  <div class="inbox-form-group">
    <%= f.trix_editor :content %>
  </div>
  <!-- The template to display files available for download -->
  <div class="inbox-compose-btn text-center">
    <% if !defined? thread %>
      <%= button_tag class: 'btn green' do %>
        <i class="fa fa-check"></i>Send
      <% end %>
      <%= link_to 'Discard', root_path, class: 'btn default', data: { confirm: 'Message not saved! Are you sure you want to cancel?' } %>
    <% else %>
      <div class="btn-group">
        <%= button_tag class: 'btn blue action-btn margin-right-10' do %>
          <i class="fa fa-reply"></i> Reply
        <% end %>
        <button data-messageid="<%= @message.id %>" class="btn blue action-btn">
          <i class="fa fa-trash-o"></i> Delete
        </button>
      </div>
    <% end %>
  </div>
<% end %>
<%= debug params %>
