<div id="message-subject" class="row">
  <div class="col-md-7">
    <%= image_tag("#{derive_username(message.sender_email)}.jpg", class: "inbox-author") %>
    <span class="sbold"><%= derive_username(message.sender_email).capitalize %> </span>
    <span>&lt;<%= message.sender_email %>&gt; </span> to
    <span class="sbold"> me </span> on <%= time_sent_on %>
  </div>
</div>
<div id="message-content" class="row">
  <div class="inbox-view">
    <%= message.content %>
  </div>
</div>
