<div id="message-subject" class="row">
  <div class="col-md-7">
    <%= image_tag("#{derive_username(message.sender_email)}.jpg", class: "inbox-author") %>
    <span class="sbold"><%= derive_username(message.sender_email).capitalize %> </span>
    <span>&lt;<%= message.sender_email %>&gt; </span> to
    <span class="sbold"> me </span> on <%= time_sent_on %>
  </div>
  <div class="col-md-5 inbox-info-btn">
    <div class="btn-group pull-right">
      <button data-messageid="23" class="btn green reply-btn">
        <i class="fa fa-reply"></i> Reply
        <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right">
        <li>
          <i class="fa fa-reply"></i> Reply
        </li>
        <li>
          <a href="javascript:;">
          <i class="fa fa-arrow-right reply-btn"></i> Forward </a>
        </li>
        <li>
          <a href="javascript:;">
          <i class="fa fa-print"></i> Print </a>
        </li>
        <li class="divider"> </li>
        <li>
          <a href="javascript:;">
          <i class="fa fa-ban"></i> Spam </a>
        </li>
        <li>
          <a href="javascript:;">
          <i class="fa fa-trash-o"></i> Delete </a>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="message-content" class="row">
  <div class="inbox-view">
    <%= message.content %>
  </div>
</div>
