<tr class="<%= read_class(thread.read?(current_user.id)) %>" data-thread-id="<%= thread.id %>">
  <td class="inbox-small-cells">
    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
      <input type="checkbox" class="mail-checkbox" value="1">
      <span></span>
    </label>
  </td>
  <td class="inbox-small-cells"> <i class="fa fa-star"></i> </td>
  <td class="view-message hidden-xs col-md-2"><%= link_for(thread, actual_link_param) %></td>
  <td class="view-message col-md-10"><%= link_for(thread, "subject") %></td>
  <td class="view-message inbox-small-cells"> </td>
  <td class="view-message text-right"> <%= inbox_sent_format(thread.sent_at) %> </td>
</tr>

