<tr class="<%= read_class(thread.read?(current_user.id)) %>" data-thread-id="<%= thread.id %>">
  <td class="inbox-small-cells">
    <label for="message-checkbox-<%= thread.id %>" class="mt-checkbox mt-checkbox-single mt-checkbox-outline single-label" id="message-label-<%= thread.id %>">
      <%= check_box_tag "thread_ids[]", thread.id, false, class: "mail-checkbox single-checkbox", id: "message-checkbox-#{thread.id}" %>
      <span></span>
    </label>
  </td>
  <td class="inbox-small-cells"> <i class="fa <%= starred_class(thread.starred?(current_user.id)) %>"></i> </td>
  <td class="view-message hidden-xs col-md-2"><%= link_for(thread, actual_link_param) %></td>
  <td class="view-message col-md-10"><%= link_for(thread, "subject") %></td>
  <td class="view-message inbox-small-cells"> </td>
  <td class="view-message text-right"> <%= inbox_sent_format(thread.updated_at) %> </td>
</tr>

