<div class="row">
  <!-- BODY SIDEBAR -->
  <%= render 'messages/shared/sidebar' %>
  <!-- END BODY SIDEBAR -->
  <!-- CONTENT -->
  <div class="col-md-10">
    <div class="inbox-body">
      <div class="inbox-header">
        <h1 class="pull-left">View Message</h1>
      </div>
      <div class="inbox-content">
        <div class="inbox-header inbox-view-header">
          <h1 class="pull-left"><%= @message.subject %>
          <a href="javascript:;"> Inbox </a>
          </h1>
          <div class="pull-right">
            <a href="javascript:;" class="btn btn-icon-only dark btn-outline">
              <i class="fa fa-print"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <img src="../assets/pages/media/users/avatar1.jpg" class="inbox-author">
            <span class="sbold">Dummy Name </span>
            <span>&lt;<%= @message.sender_email %>&gt; </span> to
            <span class="sbold"> me </span> on <%= time_sent_on("sent_at") %>
          </div>
          <div class="col-md-5 inbox-info-btn">
            <div class="btn-group pull-right">
              <button data-messageid="23" class="btn green reply-btn">
                <i class="fa fa-reply"></i> Reply
                <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu pull-right">
                <li>
                  <i class="fa fa-reply"></i> Reply
                </li>
                <li>
                  <a href="javascript:;">
                  <i class="fa fa-arrow-right reply-btn"></i> Forward </a>
                </li>
                <li>
                  <a href="javascript:;">
                  <i class="fa fa-print"></i> Print </a>
                </li>
                <li class="divider"> </li>
                <li>
                  <a href="javascript:;">
                  <i class="fa fa-ban"></i> Spam </a>
                </li>
                <li>
                  <a href="javascript:;">
                  <i class="fa fa-trash-o"></i> Delete </a>
                </li>
                <li>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="inbox-view">
          <%= @message.content %>
        </div>

        <hr>
      </div>
    </div>
  </div>
  <!-- END CONTENT -->
</div>

