<div class="row">
  <!-- BODY SIDEBAR -->
  <%= render 'messages/shared/sidebar' %>
  <!-- END BODY SIDEBAR -->
  <!-- CONTENT -->
  <div class="col-md-10">
    <div class="inbox-body">
      <div class="inbox-header">
        <h1 class="pull-left">View Message</h1>
      </div>
      <div class="inbox-content">
        <div class="inbox-header inbox-view-header">
          <h1 class="pull-left"><%= @message.subject %> 
            <%= message_folder_link %>
          </h1>
        </div>
        <div id="message" class="row">
          <%= render partial: 'message', locals: { message: @message } %>
        </div>
        <div id="threads" class="row">
          <%= render partial: 'message', collection: @replies %>
        </div>
        <div id="editor" class="row">

        </div>

        <div class="row inbox-info-btn text-center">
          <div class="btn-group">
            <button data-messageid="<%= @message.id %>" class="btn blue action-btn margin-right-10">
              <i class="fa fa-reply"></i> Reply
            </button>
            <button data-messageid="<%= @message.id %>" class="btn blue action-btn">
              <i class="fa fa-trash-o"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTENT -->
</div>

