<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
      <!-- PORTLET MAIN -->
      <div class="portlet light profile-sidebar-portlet ">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
        <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name"> Marcus Doe </div>
          <div class="profile-usertitle-job"> Developer </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li>
              <a href="inbox.html">
              <i class="icon-envelope-open"></i> Inbox </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>

    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light ">
            <div class="portlet-title tabbable-line">
              <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
              </div>
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                </li>
                <li>
                  <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                </li>
              </ul>
            </div>
            <div class="portlet-body">
              <div class="tab-content">
                <!-- PERSONAL INFO TAB -->
                <div class="tab-pane active" id="tab_1_1">
                  <form role="form" action="#">
                    <div class="form-group">
                      <label class="control-label">First Name</label>
                      <input type="text" placeholder="John" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Last Name</label>
                      <input type="text" placeholder="Doe" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Mobile Number</label>
                      <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Occupation</label>
                      <input type="text" placeholder="Web Developer" class="form-control">
                    </div>
                    <div class="margin-top-10">
                      <a href="javascript:;" class="btn green"> Save Changes </a>
                      <a href="javascript:;" class="btn default"> Cancel </a>
                    </div>
                  </form>
                </div>
                <!-- END PERSONAL INFO TAB -->

                <!-- CHANGE PASSWORD TAB -->
                <div class="tab-pane" id="tab_1_3">
                  <form action="#">
                    <div class="form-group">
                      <label class="control-label">Current Password</label>
                      <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-label">New Password</label>
                      <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Re-type New Password</label>
                      <input type="password" class="form-control">
                    </div>
                    <div class="margin-top-10">
                      <a href="javascript:;" class="btn green"> Change Password </a>
                      <a href="javascript:;" class="btn default"> Cancel </a>
                    </div>
                  </form>
                </div>
                <!-- END CHANGE PASSWORD TAB -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PROFILE CONTENT -->
    </div>
  </div>
</div>

<!-- <h2>Edit <%= user.to_s.humanize %></h2>

<%= form_for(resource, as: user, url: registration_path(user), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %> -->
