<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
      <!-- PORTLET MAIN -->
      <div class="portlet light profile-sidebar-portlet ">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
        <%= image_tag("#{derive_username(current_user.email)}.jpg", class: "img-responsive") %>
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name"> <%= user_full_name %> </div>
          <div class="profile-usertitle-job"> <%= user_occupation %> </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li>
              <%= link_to root_path do %>
                <i class="icon-envelope-open"></i> Inbox 
              <% end %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>

    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light ">
            <div class="portlet-title tabbable-line">
              <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
              </div>
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                </li>
                <li>
                  <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                </li>
              </ul>
            </div>
            <div class="portlet-body">
              <div class="tab-content">
                <!-- PERSONAL INFO TAB -->
                <div class="tab-pane active" id="tab_1_1">
                  <% resource.build_profile if resource.profile.nil? %>
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>
                  <div class="form-group">
                    <%= f.label :email, class: "control-label" %><br />
                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "valid@email.com" %>
                  </div>
                  <%= f.fields_for :profile do |p| %>
                  <div class="form-group">
                    <%= p.label :username, class: "control-label" %>
                    <%= p.text_field :username, class: "form-control", placeholder: "nickname" %>
                  </div>
                    <div class="form-group">
                      <%= p.label :first_name, class: "control-label" %>
                      <%= p.text_field :first_name, class: "form-control", placeholder: "John" %>
                    </div>
                    <div class="form-group">
                      <%= p.label :last_name, class: "control-label" %>
                      <%= p.text_field :last_name, class: "form-control", placeholder: "Doe" %>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Phone Number</label>
                      <%= p.text_field :phone, class: "form-control", placeholder: "+387 61 001 002" %>
                    </div>
                    <div class="form-group">
                      <%= p.label :occupation, class: "control-label" %>
                      <%= p.text_field :occupation, class: "form-control", placeholder: "Web Developer" %>
                    </div>
                    <div class="margin-top-10">
                      <%= f.submit 'Save Changes', class: 'btn green' %>
                    </div>
                  <% end %>
                </div>
                <% end %>
                <!-- END PERSONAL INFO TAB -->

                <!-- CHANGE PASSWORD TAB -->
                <div class="tab-pane" id="tab_1_3">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>
                  <div class="form-group">
                    <label class="control-label">New Password</label> <i>(leave blank if you don't want to change it)</i>
                    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Confirm New Password</label> 
                    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
                  </div>
                  <div class="margin-top-10">
                    <%= f.submit 'Save Changes', class: 'btn green' %>
                  </div>
                  <% end %>
                </div>
                <!-- END CHANGE PASSWORD TAB -->
                </div>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource_name.unconfirmed_email %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- END PROFILE CONTENT -->
    </div>
  </div>
</div>

<!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %> -->
