<div class="col-md-2">
  <div class="inbox-sidebar">
    <%= link_to new_user_message_path(user_id: current_user.id), data: { title: 'Compose' }, class: 'btn red compose-btn btn-block' do %>
      <i class="fa fa-edit"></i> Compose
    <% end %>
    <ul class="inbox-nav">
      <li id="inbox" class="<%= 'active' if !params_exist? %>">
        <%= link_to root_path, data: { type: "inbox", title: "Inbox" } do %>
          Inbox <span class="badge badge-success"><%= count_messages("unread") %></span>
        <% end %>
      </li>
      <li id="starred" class="<%= 'active' if params[:starred] %>">
        <%= link_to messages_path(starred: true), data: { type: "starred", title: "Starred" } do %> Starred
        <% end %>
      </li>
      <li id="sent" class="<%= 'active' if params[:sent] %>">
        <%= link_to messages_path(sent: true), data: { type: "sent", title: "Sent" } do %> Sent
        <% end %>
      </li>
      <li id="drafts" class="<%= 'active' if params[:drafts] %>">
        <%= link_to messages_path(drafts: true), data: { type: "drafts", title: "Drafts" } do %> Drafts
          <span class="badge badge-danger"><%= count_messages("drafts") %></span>
        <% end %>
      </li>
      <li class="divider"></li>
      <li id="trash" class="<%= 'active' if params[:trash] %>">
        <%= link_to messages_path(trash: true), data: { type: "trash", title: "Trash" }, class: "sbold uppercase" do %> Trash
          <span class="badge badge-info"><%= count_messages("trash") %></span>
        <% end %>
      </li>
    </ul>
    <ul class="inbox-contacts">
      <li class="divider margin-bottom-30"></li>
      <% @users.each do |user| %>
      <li>
        <%= link_to '#' do %>
          <%= image_tag("#{derive_username(user.email)}.jpg", class: "contact-pic") %>
          <span class="contact-name"><%= derive_username(user.email).capitalize %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
