<div class="col-md-2">
  <div class="inbox-sidebar">
    <a href="compose.html" data-title="Compose" class="btn red compose-btn btn-block">
    <i class="fa fa-edit"></i> Compose </a>
    <ul class="inbox-nav">
      <li class="active">
        <%= link_to root_path, data: { type: "inbox", title: "Inbox" } do %>
          Inbox <span class="badge badge-success"><%= count_messages("unread") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to messages_path(important: true), data: { type: "important", title: "Important" } do %> Important
        <% end %>
      </li>
      <li>
        <%= link_to messages_path(sent: true), data: { type: "sent", title: "Sent" } do %> Sent
        <% end %>
      </li>
      <li>
        <%= link_to messages_path(drafts: true), data: { type: "drafts", title: "Drafts" } do %> Drafts
          <span class="badge badge-danger"><%= count_messages("drafts") %></span>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to messages_path(trash: true), data: { type: "trash", title: "Trash" }, class: "sbold uppercase" do %> Trash
          <span class="badge badge-info"><%= count_messages("trash") %></span>
        <% end %>
      </li>
    </ul>
    <ul class="inbox-contacts">
      <li class="divider margin-bottom-30"></li>
      <% @users.each do |user| %>
      <li>
        <%= link_to '#' do %>
          <%= image_tag("#{user.email[0, user.email.index('@')]}.jpg", class: "contact-pic") %>
          <span class="contact-name"><%= user.email[0, user.email.index('@')] %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
