<div class="col-md-2">
  <div class="inbox-sidebar">
    <a href="compose.html" data-title="Compose" class="btn red compose-btn btn-block">
    <i class="fa fa-edit"></i> Compose </a>
    <ul class="inbox-nav">
      <li class="active">
        <%= link_to root_path, data: { type: "inbox", title: "Inbox" } do %>
          Inbox <span class="badge badge-success"><%= count_messages("unread") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to messages_path(important: true), data: { type: "important", title: "Important" } do %> Important
        <% end %>
      </li>
      <li>
        <%= link_to messages_path(sent: true), data: { type: "sent", title: "Sent" } do %> Sent
        <% end %>
      </li>
      <li>
        <%= link_to messages_path(drafts: true), data: { type: "drafts", title: "Drafts" } do %> Drafts
          <span class="badge badge-danger"><%= count_messages("drafts") %></span>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to messages_path(trash: true), data: { type: "trash", title: "Trash" }, class: "sbold uppercase" do %> Trash
          <span class="badge badge-info"><%= count_messages("trash") %></span>
        <% end %>
      </li>
    </ul>
    <ul class="inbox-contacts">
      <li class="divider margin-bottom-30"></li>
      <li>
        <a href="compose.html">
          <img class="contact-pic" src="../assets/pages/media/users/avatar4.jpg">
          <span class="contact-name">Adam Stone</span>
        </a>
      </li>
      <li>
        <a href="compose.html">
          <img class="contact-pic" src="../assets/pages/media/users/avatar2.jpg">
          <span class="contact-name">Lisa Wong</span>
        </a>
      </li>
      <li>
        <a href="compose.html">
          <img class="contact-pic" src="../assets/pages/media/users/avatar6.jpg">
          <span class="contact-name">Anna Bold</span>
        </a>
      </li>
    </ul>
  </div>
</div>
