<!DOCTYPE html>
<html>
  <head>
    <title>Mailbox</title>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !user_signed_in? %>
      <div class="login">
        <%= render 'shared/notice_alerts' %>
        <%= render 'shared/logo' %>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
    <%else %>
      <div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-header navbar navbar-fixed-top">
          <div class="page-header-inner ">
            <div class="page-logo">
              <%= link_to root_path do %>
                <%= image_tag 'logo.png', class: 'logo-default' %>
              <% end %>
            </div>
            <%= render 'messages/shared/top_navigation' %>
          </div>
        </div>
        <div class="clearfix"> </div>
        <div class="page-container">
          <div class="page-content-wrapper">
            <div class="page-content">
              <div class="page-bar">
                <div class="page-toolbar">
                </div>
              </div>
            </div>
            <%= render 'shared/notice_alerts' %>
            <div class="inbox">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
